<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="tenantName" value="custom_domain_name_of_aad" />
    <add key="resourceServer" value="https://yourwebsite.azurewebsites.net" />
    <add key="aad" value="https://login.microsoftonline.com/{0}"/>
    <add key="clientId" value=""/>
    <add key="tenantId" value=""/>
  </appSettings>
</configuration>